html {
   scroll-behavior: smooth;
}

body {
   background-color: #1a2028;
   color: #d2e1f5;
   font-size: 20px;
   font-family: sans-serif;
   margin: 0;
}

.nav-menu {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   list-style: none;

}

.nav-link {
   padding: 0 20px;
   line-height: 50px;
   /* курсор при наведении */
   cursor: pointer;
   /* убираем подчеркивание */
   text-decoration: none;
   color: #f15f3d;
   font-size: 22px;
   transition: .3s;
}

/* что это за два селектион */
.section-item a {
   color: #21b835;
   text-decoration: none;
   transition: color 0.5s;
}

.section-item a:hover {
   color: #bb2424;
}