* {
   box-sizing: border-box;
   border: 1px solid red;
}

html {
   scroll-behavior: smooth;
}

body {
   background-color: #1a2028;
   color: #d2e1f5;
   font-size: 20px;
   font-family: 'Roboto', sans-serif;
   min-height: 100vh;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.container {
   max-width: 1440px;
   margin: 0 auto;
}

.header-list {
   display: flex;
   justify-content: space-evenly;

   align-items: center;

}

button {
   transition: .3s;
   cursor: pointer;
}

.nav-menu {
   display: flex;
   justify-content: center;
   align-items: center;
   /* Убираем стандартные маркеры */
   list-style: none;

}

.nav-link {
   /* отступы между элементами списка */
   padding: 0 20px;
   line-height: 50px;
   /* курсор при наведении */
   cursor: pointer;
   /* убираем подчеркивание */
   text-decoration: none;
   color: #f15f3d;
   font-size: 22px;
   transition: .3s;
}

/* что это за два селектион */
.nav-item a {
   color: #16ca2e;
   text-decoration: none;
   transition: color 0.5s;
}

.nav-item a:hover {
   color: #4d2323;
}