* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a2028;
  color: #d2e1f5;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* .container {
  max-width: 1440px;
  margin: 0 auto;
} */

.header-container {
  background: #3d4c5f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-button {
  /* width: 15vw; */
  /* height: 20vh; */
  /* margin: 30px 20px; */
  /* line-height: 50px; */
  background-color: #f15f3d;
}

button {
  transition: .3s;
  cursor: pointer;
}

.header-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}


.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Убираем стандартные маркеры */
  list-style: none;

}

.nav-link {
  /* отступы между элементами списка */
  padding: 0 20px;
  line-height: 50px;
  /* курсор при наведении */
  cursor: pointer;
  /* убираем подчеркивание */
  text-decoration: none;
  font-size: 22px;
  line-height: 1.3;
  /* color: #f15f3d; */
  /* transition: 0.3s; */
}

.nav-item a {
  color: #f15f3d;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-item a:hover {
  color: #4d2323;
}

a {
  color: #f15f3d;
  text-decoration: none;
  transition: color 0.5s;
}

a:hover {
  color: #4d2323;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

}

/* .wrapper {

  display: grid;


} */

.section {
  width: 50%;
  padding-left: 50px;
  padding-right: 10px;
}

/* img {
  width: 20%;
} */

.about-me-img {
  height: 220px;
  width: 200px;
  border-radius: 12px;
  box-shadow: 0 0 20px #3d4c5f;
}

.code {
  width: 80%;
  height: 80%;
  border-radius: 12px;
  box-shadow: 0 0 20px #3d4c5f;
}

.footer {
  width: 100%;
  height: 80px;
  margin-top: auto;
  padding: 26px 30px;
  background: #3d4c5f;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rs-logo {
  width: 50px;
  height: 50px;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}